$darkBlue: hsl(209, 23%, 22%); // (Dark Mode Elements)
$veryDarkBlue1: hsl(207, 26%, 17%); // (Dark Mode Background)
$veryDarkBlue2: hsl(200, 15%, 8%); // (Light Mode Text)
$darkGray: hsl(0, 0%, 52%); // (Light Mode Input)
$veryLightGray: hsl(0, 0%, 98%); // (Light Mode Background)
$white: hsl(0, 0%, 100%); // (Dark Mode Text & Light Mode Elements)

:root {
  --darkBlue: hsl(209, 23%, 22%); // (Dark Mode Elements)
  --veryDarkBlue1: hsl(207, 26%, 17%); // (Dark Mode Background)
  --veryDarkBlue2: hsl(200, 15%, 8%); // (Light Mode Text)
  --darkGray: hsl(0, 0%, 52%); // (Light Mode Input)
  --veryLightGray: hsl(0, 0%, 98%); // (Light Mode Background)
  --white: hsl(0, 0%, 100%); // (Dark Mode Text & Light Mode Elements)
}
.light {
  --background: var(--veryLightGray);
  --elements: var(--white);
  --font: var(--veryDarkBlue2);
  --input: var(--darkGray);
}

.dark {
  --background: var(--veryDarkBlue1);
  --elements: var(--darkBlue);
  --font: var(--white);
  --input: var(--white);
}
